body {
    background-color: rgb(41, 7, 48);
    font-family: 'SemiBold', sans-serif;
    font-weight: 900; 
    margin: 0;
    padding: 0;
    color:aliceblue
}

.soon {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.soon1 {
    color:aliceblue;
}